{
	"plugins": ["./src/index.js"],
	"useTabs": true,
	"printWidth": 80,
	"tabWidth": 4,
	"wolfram": {
		"documentationCommentColumn": 100,
		"documentationCommentPadding": 2,
		"newlinesBetweenDefinitions": 2,
		"topLevelSpacingMode": "declarations",
		"spaceAfterComma": true,
		"spaceAroundOperators": true,
		"moduleVarsBreakThreshold": 40,
		"conditionFirstFunctions": "If,Switch",
		"blockStructureFunctions": "Module,With,Block,DynamicModule",
		"caseStructureFunctions": "Which",
		"preserveTildeInfixFunctions": "Join",
		"enginePath": "",
		"lintRules": "{}"
	}
}
