{
	"plugins": ["./src/index.js"],
	"useTabs": true,
	"printWidth": 80,
	"tabWidth": 4,
	"wolframDocumentationCommentColumn": 100,
	"wolframDocumentationCommentPadding": 2,
	"wolframNewlinesBetweenDefinitions": 2,
	"wolframTopLevelSpacingMode": "declarations",
	"wolframSpaceAfterComma": true,
	"wolframSpaceAroundOperators": true,
	"wolframModuleVarsBreakThreshold": 40,
	"wolframConditionFirstFunctions": "If,Switch",
	"wolframBlockStructureFunctions": "Module,With,Block,DynamicModule",
	"wolframCaseStructureFunctions": "Which",
	"wolframPreserveTildeInfixFunctions": "Join",
	"wolframEnginePath": "",
	"wolframLintRules": "{}"
}
